body {
  padding: 30px;
}

#map {
  width: 100%;
  height: 300px;
  background-color: #52db64;
  position: relative;
  z-index: 0;
}

.pin, .pin--stalker {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
}

.pin--stalker {
  visibility: hidden;
  z-index: 10;
}
